<?xml version="1.0" encoding="utf-8" ?>

<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="LogDir" value="${basedir:processDir=true}/Logs" />
  <variable name="LogFileName" value="${LogDir}/nlog-${shortdate}.log" />
  <variable name="DefaultLayout"
            value="${pad:padding=-1:fixedLength=true:inner=${level:uppercase=true}} ${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.ffff:culture=en-US} ${callsite:className=false:methodName=true} >> ${message}" />
  
  <targets async="true">
    <target name="Console" xsi:type="Console" layout="${DefaultLayout}" />
    <target name="ColoredConsole" xsi:type="ColoredConsole" layout="${DefaultLayout}" />
    <target name="Debugger" xsi:type="Debugger" layout="${level} ${message}" />
    <target name="LogFile" xsi:type="File" layout="${DefaultLayout}" fileName="${LogFileName}" keepFileOpen="true"
            encoding="utf-8" maxArchiveFiles="30" archiveNumbering="Sequence"
            archiveFileName="${LogDir}/{#######}.a" deleteOldFileOnStartup="true" />
  </targets>
  
  <rules>
    <logger name="*" minlevel="Trace" writeTo="LogFile" />
    <logger name="*" minlevel="Debug" writeTo="ColoredConsole,Debugger" />
  </rules>
</nlog>
